table {
    width: 100%;
}

th, td{
    padding:15px !important;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-row:nth-of-type(odd) {
    background-color: #f5f5f5;
  }
  

img {
    max-width: 12em;
    max-height: 12em;
    margin: 0.75em;
  }